{% extends "base.html" %}
{% load static %}
{% block content %}

{% block header %} {% include 'header.html' %} {% endblock header %}

<div class="container mt-3">
    <div class="row">             
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">
                        <a href="{{ sim.get_absolute_url }}">
                        {{ poem.title }}</a></h2>
                    <p class="card-text text-muted h6">{{ poem.author }}</p>
                    <p class="card-text">{{poem.content|linebreaks|safe }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% for sim in poem.similars.all %}
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        <a href="{{ sim.get_absolute_url }}">
                        {{ sim.title }}</a></h2>
                    <p class="card-text text-muted h6">{{ sim.author }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if random_sound_file %}
    <audio id="backgroundSound" src="{% static random_sound_file %}" preload="auto" autoplay loop></audio>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var sound = document.getElementById("backgroundSound");
        if (sound) {
            sound.play().catch(error => console.log("Playback prevented by the browser."));
        }
    });
    </script>
{% endif %}

{% if click_sound_file %}
    <audio id="clickSound" src="{% static click_sound_file %}" preload="auto" style="display:none;"></audio>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var sound = document.getElementById("clickSound");
        sound.play().catch(error => console.error("Sound playback was prevented by the browser."));
    });
    </script>
{% endif %}

{%endblock%}